.next
dist
node_modules/
.vscode
.github
.git
next-env.d.ts
lint-staged.config.js
next.config.js
.gitignore
.prettierrc
.eslintrc
package.json
yarn.lock
package-lock.json
README.md
dist
.prettierignore
