@tailwind base;
@tailwind components;
@tailwind utilities;

.search-input {
	@apply block w-full pl-10 pr-3 py-2 border border-gray-400 rounded-md leading-5 bg-gray-100 placeholder-gray-500 sm:text-sm transition duration-150 ease-in-out;
}
.search-input-focus {
	@apply focus:outline-none focus:placeholder-gray-400;
}

.arrow-img {
	transform: rotate(45deg);
}

.nav-button {
	@apply hidden h-6 md:inline-flex cursor-pointer hover:scale-125 transition-all duration-150 ease-out;
}
.post-button {
	@apply h-7 cursor-pointer hover:scale-125 transition-all duration-150 ease-out;
}

.instagram-logo {
	background-position: 0 -130px;
	height: 51px;
	width: 175px;
	background-image: url(https://bit.ly/3v2LT17);
}
.google-logo {
	background-image: url(https://bit.ly/3AMDUXj);
	height: 14px;
	width: 14px;
}
.apple-store-logo {
	background-position: -132px -182px;
	height: 42px;
	width: 128px;
	background-image: url(https://bit.ly/3v2LT17);
}
.google-store-logo {
	background-position: 0 -182px;
	height: 42px;
	width: 130px;
	background-image: url(https://bit.ly/3v2LT17);
}
